body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.App {
  font-family: sans-serif;
  // height: 100vh;
  width: 100vw;

  //overflow-y: hidden;
  .Header {
    z-index: 10;
    position: fixed;

    .white-area {
      height: 7.2vw;
      width: 100vw;
      background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.938) 80%, rgba(255, 255, 255, 0) 100%);
      margin-bottom: -2.2vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      padding-right: 10vw;
      box-sizing: border-box;

      .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 2.2vw;

        .button {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0.4vw 2vw;
          font-size: 1.2vw;
          color: white;
          border-radius: 5px;
          cursor: pointer;
          user-select: none;
          background-color: rgb(51, 166, 1);
          transition-duration: 0.1s;
          &:last-child{
            margin-left: 2vw;
          }
          &:hover{
            box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
          }
          &:active{
            box-shadow: none;
            background-color: rgba(50, 166, 1, 0.76);
          }
        }
      }
    }

    .header-logo-line {
      position: relative;

      .header-line {
        width: 100vw;
      }

      .header-logo {
        width: 25vw;
        position: absolute;
        top: -2.5vw;
        left: 10.5vw;
      }

      .buttons {
        position: absolute;
        top: 0vw;
        right: 10vw;
        height: 2.2vw;
        align-items: center;
        display: flex;
        flex-direction: row;

        span {
          color: rgb(255, 255, 255);
          font-size: 1.2vw;
          padding: 0px 0vw 0px 2vw;
          cursor: pointer;
          user-select: none;
          transition-duration: 0.1s;

          &:active {
            color: rgba(255, 255, 255, 0.4);
            text-shadow: none;
          }
        }
      }
    }
  }

  .MainPage {
    .main {
      .main-back {
        width: 100%;
      }

      .title-polygon {
        position: absolute;
        top: 11vw;
        background-color: rgb(172, 37, 41);
        background-color: rgb(51, 166, 1);
        width: 60vw;
        height: 28vw;
        clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
        padding: 5.5vw 0px 0px 10vw;
        box-sizing: border-box;

        span {
          font-size: fantasy;
          color: white;
          font-size: 4vw;
          display: flex;
          flex-direction: column;
          font-family: fantasy;
        }
      }

      .earth-on-hand {
        position: absolute;
        top: 9vw;
        right: -6vw;
        width: 64vw;
      }

      .bubbles {
        position: absolute;
        top: 23vw;
        right: 25vw;


        .co2 {
          position: absolute;

          &:nth-child(1) {
            bottom: 2vw;
            left: 7vw;
            width: 6vw;
          }

          &:nth-child(2) {
            top: 2vw;
            left: 0vw;
            width: 14vw;
          }

          &:nth-child(3) {
            top: 17vw;
            right: 0vw;
            width: 10vw;
          }

          &:nth-child(4) {
            top: 21vw;
            right: 13vw;
            width: 8vw;
          }

          &:nth-child(5) {
            top: 17vw;
            right: 26vw;
            width: 4vw;
          }

          &:nth-child(6) {
            top: 11vw;
            right: 13vw;
            width: 3vw;
          }

          &:nth-child(7) {
            top: 2vw;
            left: 14vw;
            width: 3vw;
          }
        }
      }
    }
  }

  .Footer {
    .footer-back-top {
      margin-top: -12vw;
      margin-bottom: -1vw;
      width: 100%;
    }

    .details {
      width: 100vw;
      padding: 1vw 0vw 3vw 0vw;
      background-color: rgb(43, 151, 241);
      display: flex;
      flex-direction: column;

      .footer-logo {
        margin: auto;
        width: 15vw;
        user-select: none;
      }

      .icons {
        margin: auto;
        padding: 1vw 0vw 1vw 0vw;
        display: flex;
        flex-direction: row;
        gap: 2vw;

        svg {
          user-select: none;
          color: white;
          cursor: pointer;
          &:active{
            color: rgba(255, 255, 255, 0.4);
          }
        }
      }

      .term {
        text-align: center;
        margin: auto;
        font-size: 0.9vw;
        margin-top: 0.2vw;
        color: white;
      }
    }
  }
}